<!-- Preloader -->
 <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div> -->

<app-navbar></app-navbar>
<!-- Main Sidebar Container -->
<app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>
<!-- Control Sidebar -->
<!-- <aside class="control-sidebar control-sidebar-dark">
     Control sidebar content goes here 
</aside> -->
<!-- /.control-sidebar -->
