<div class="modal-header bg-info justify-content-between">
    <h5 class="modal-title col-6" id="exampleModalLabel">{{title}}</h5>
    <div class="input-group col-6">
        <input type="text" class="form-control">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 overflow-auto" style="height: 250px;">
            <div *ngFor="let shipper of shippers; let i = index">
                <div class="row mb-3 justify-content-start align-items-center">
                    <div class="col-1">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input custom-control-input-danger" type="radio"
                                [id]="shipper.userId" name="customRadio2" (change)="selectShipper($event, shipper)"
                                [checked]="i === 0">
                            <label [for]="shipper.userId" class="custom-control-label"></label>
                        </div>
                    </div>
                    <div class="col-2"><img
                            [src]="shipper.contact?.picture ? shipper.contact?.picture :'assets/img/person-avatar.png'"
                            class="img-thumbnail rounded mx-auto d-block" alt="..."
                            style="height: 60px ; width: 60px ;">
                    </div>
                    <div class="col-6">
                        <div class="row">{{shipper.contact.firstname}} {{shipper.contact.firstname}}</div>
                        <div class="row text-muted">{{shipper.contact.phone}}</div>
                    </div>
                    <div class="col-2">$ 74</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
    <button type="button" class="btn btn-info" (click)="assignOrderToShipper()">Assign</button>
</div>