<app-header [title]="title"></app-header>
<div class="container">
  <div class="card p-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table row-border hover" id="menu-table">
          <thead>
            <tr>
              <th>Menu ID</th>
              <th>Nom du menu</th>
              <th>Quantité</th>
              <th>Status</th>
              <th>Prix</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menus ">
              <td><a href="pages/examples/invoice.html">{{menu.menuId}}</a></td>
              <td>{{menu.name}}</td>
              <td>{{menu.quantity}}</td>
              <td><span class="badge badge-success">Shipped</span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20">$ {{menu.price}}</div>
              </td>
              <td><a [routerLink]="['/menus/details', menu.menuId]" routerLinkActive="router-link-active" ><span><i class="fas fa-eye text-info"></i></span></a></td>
              <td><span><i class="fas fa-trash-alt text-danger"></i></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--                 <tr>
                  <td><a href="pages/examples/invoice.html">OR9842</a></td>
                  <td>Call of Duty IV</td>
                  <td>210</td>
                  <td><span class="badge badge-success">Shipped</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">$30</div>
                  </td>
                  <td><span><i class="fas fa-eye text-info"></i></span></td>
                  <td><span><i class="fas fa-trash-alt text-danger"></i></span></td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR1848</a></td>
                  <td>Samsung Smart TV</td>
                  <td>210</td>
                  <td><span class="badge badge-warning">Pending</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">$32</div>
                  </td>
                  <td><span><i class="fas fa-eye text-info"></i></span></td>
                  <td><span><i class="fas fa-trash-alt text-danger"></i></span></td>
                </tr> -->