<app-header [title]="title"></app-header>
<div class="row px-3">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                <div class="row">
                    <div class="col-6">
                        Plat
                    </div>
                    <div class="col-3">
                        Qte
                    </div>
                    <div class="col-3">
                        SubTotal
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/img/default-image.png" alt="" style="max-width: 70px;">
                            </div>
                            <div class="col-8">
                                <h6>Pizza</h6>
                                <h6 class="text-muted">pizza classic avec des ...</h6>
                                <h6>$ 11</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        2
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        $ 800
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/img/default-image.png" alt="" style="max-width: 70px;">
                            </div>
                            <div class="col-8">
                                <h6>Pizza</h6>
                                <h6 class="text-muted">pizza classic avec des ...</h6>
                                <h6>$ 11</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        2
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        $ 800
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-4 sticky-top">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="text-bold text-danger">N°: C4455</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="name">Date du commande:</label>
                    </div>
                    <div class="col">
                      11/10/2022 16:30
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Payment:</label>
                    </div>
                    <div class="col">
                      Stripe
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Status:</label>
                    </div>
                    <div class="col"><h6 class="badge badge-success">Préparation</h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Total:</label>
                    </div>
                    <div class="col">
                      $ 53
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                Information du client
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="name">Nom:</label>
                    </div>
                    <div class="col">
                      DURANT
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Prénom:</label>
                    </div>
                    <div class="col">
                      Dupond
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Phone:</label>
                    </div>
                    <div class="col">
                      555 777 564
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Adresse:</label>
                    </div>
                    <div class="col">
                      Lot 201 4859 Tanambao
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                Information du livraison
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="name">Nom du livreur:</label>
                    </div>
                    <div class="col">
                      DURANT
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col">
                        <label for="name">Phone:</label>
                    </div>
                    <div class="col">
                      555 777 564
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>